body {
  background-color: gray;
}

h1 {
  text-align: center;
}

.main-container {
  display: flex;
  /*border: 1px solid yellow;
  background: green;*/
  margin: auto;
  max-width: 1300px;
  min-height: 617px;
  padding: 10px;
}

.pic-grid-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex-basis: 90%;
}

.row {
  /*background-color: red;
  border: 2px solid blue;*/
  padding: 5px;
  display: flex;
  width: 99%;
  flex-wrap:wrap;
  margin: 0;
  height: 99%;
  justify-content: center;
}

.picture {
  margin-top: 10px;
  margin-right: 20px;
  max-width: 100px;
  max-height: 100px;
}

.picture img {
  border-radius: 10px;
  width: 85%;
  height: 85%
}
.picture p {
  /*background: yellow;*/
  text-align: center;
  height: 45px;
  width: 90px;
  margin: 0;
}

.list-container {
  display: flex;
  width: 10%;
}

.form-container{
  margin: auto;
  display: flex;
}

form {
  margin: auto;
}
