@import '../base/_mixins.scss';

.list-container {
  display: flex;
  width: 163px;
  height: 600px;

  // @include bp-large {
  //   width: 19%;
  // }
  //
   @include bp-small {
    //list box gets squished here.
     display: none;
  }
}
