.list-container {
  display: flex;
  width: 12%;
}

@media only screen and (max-width: 1070px) {
  .list-container {
    width: 19%;
  }
}

@media only screen and (max-width: 616px) {
  .list-container {
    display: none;
  }
}
