@import '../base/_mixins.scss';

.list-container {
  display: flex;
  width: 12%;

  @include bp-large {
    width: 19%;
  }

   @include bp-small {
    //list box gets squished here. 
     display: none;
  }
}
