.pic-grid-container {
  display: flex;
  flex-basis: 98%;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 1070px) {
  .pic-grid-container {
    flex-basis: 98%;
  }
}
