@import '../base/_mixins.scss';

.picture-frame {
  margin-top: 10px;
  margin-right: 20px;
  max-width: 100px;
  max-height: 100px;

  @include bp-medium {
    margin: 5px;
  }

  img {
    border-radius: 10px;
    width: 85%;
    height: 85%;


      @include bp-large {
        width: 70%;
        height: 70%;
      }

      @include bp-medium  {
        width: 55%;
        height: 55%;
        margin-top: 13px;
      }
      //
      //
      // @include bp-small {
      //   width: 70%;
      //   height: 70%;
      // }
  }

  p {
    /*background: yellow;*/
    text-align: left;
    height: 45px;
    width: 90px;
    margin: 0;

    @include bp-large {
      font-size: .9rem;
    }

    @include bp-medium  {
      font-size: .87rem;
    }
    //
    //
    // @include bp-small {
    //   width: 70%;
    //   height: 70%;
    // }
  }
}
